<!Doctype html>
<html>
<head>
	<title>Suicide Monitor</title>
  <link href="../static/bootstrap.min.css" rel="stylesheet">
  <link href="../static/admin.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
</head>
<body>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="./index.html">Suicide Monitor</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Tweet Keyword Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="./index.html">Sign-Out</a>
      </li>
    </ul>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#rules">
                <span data-feather="file"></span>
                View Rules
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#add-rule">
                <span data-feather="shopping-cart"></span>
                Add Rules
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h4">Twitter Suicide Intent Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              Download Data
            </button>
          </div>
        </div>

        <div class="charts">
          <div class="canvas">
            <h5 style="text-align: center;">Suicidal Vs Non-Suicidal Tweet Count</h5>
            <canvas id="piechart"></canvas>
          </div>
          <div id="map"></div>
        </div><br/>

        {% for keyword in keywords %}
          <p>{{keyword.keyword}}</p>
        {%endfor%}
        

        <div id="rules">
        <h2>Rules Table:</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Rules / Keywords</th>
              </tr>
            </thead>
            <tbody>
              {% for keyword in keywords %}
              <tr>
                <td>{{keyword.serialize().id}}</td>
                <td>{{keyword.serialize().keyword}}</td>
              </tr>
              {% endfor %}
              <!--
              <tr>
                <td>2</td>
                <td>Suicidal</td>
              </tr>-->
            </tbody>
          </table>
        </div>
        </div>

        
          <form action="/admin_dashboard" method="POST">
            <div class="input-group mb-3"></div>
              <input type="text" id="add-rule" name="add-rule" class="form-control" placeholder="Add new Keyword Search Term" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="add-rule">Save</button>
                <p>{{message}}</p>
              </div>
            </div>
          </form>

      </main>
    </div>
  </div>

  <!--Scripts-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script type="text/javascript" src="../static/script.js"></script>

</body>
</html>
