<!Doctype html>
<html>
<head>
	<title>Suicide Monitor</title>
  <!--<link href="{{ url_for('static', filename='bootstrap.min.css')}}" />
  <link href="{{ url_for('static', filename='styles.css')}}" />-->
  <link href="/static/bootstrap.min.css" rel="stylesheet">
	<link href="/static/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
</head>
<body>

<form action='/app/admin_dashboard/search/' method="POST">
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/app/home/">Suicide Monitor</a>
    <input class="form-control form-control-dark w-100" type="text" name="search" placeholder="Tweet Keyword Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/app/home/">Sign-Out</a>
      </li>
    </ul>
  </nav></form>
  
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#rules">
                <span data-feather="file"></span>
                View Rules
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#add-rule">
                <span data-feather="shopping-cart"></span>
                Add Rules
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h4">Twitter Suicide Intent Dashboard</h1>
          <!--<div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              Download Data
            </button>
          </div>-->
        </div>

        <div class="charts">
          <div class="canvas">
            <div class="inner-canvas">
              <div class="ch1">
                <h6 style="text-align: left;">Suicidal Vs Non-Suicidal Tweet Count</h6>
                <canvas id="piechart"></canvas>
                <h6 style="text-align: left;">Tweets per Category</h6>
                <canvas id="barchart"></canvas>
              </div>
              <div class="ch2">
                <h6 style="text-align: center;">Suicidal Intent Over Time</h6>
                <canvas id="linechart"></canvas>
                <canvas id="linechart1"></canvas>
              </div>
            </div>
          </div>
          <div id="map">
            <div class="overflow-auto">
              {% for tweet in tweets %}
              <div class="card" style="height: 120px;">
                <div class="card-body">
                  <em style="color: blue; font-size: 14px;">{{tweet["User"]}}</em><br/>
                  <em style="font-size: 13px;">{{tweet["Tweet"]}}</em><br/>
                  <p style="font-size: 13px">PREDICTED INTENT: {{tweet["Prediction"]}}</p>
                </div>
                </div>
                {% endfor %}
            </div>       
          </div><br/>

        <div id="rules">
        <h2>Rules Table:</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Rules / Keywords</th>
              </tr>
            </thead>
            <tbody>
              {% for keyword in keywords %}
              <tr>
                <td>{{keyword["id"]}}</td>
                <td>{{keyword["Keyword"]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        </div>
        
          <form action="/app/admin_dashboard/add/" method="POST">
            <div class="input-group mb-3"></div>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <p style="color: red; font-weight: 100;">{{ messages[0] }}</p>
              {% endif %}
              {% endwith %}
              <input type="text" id="add-rule" name="add-rule" class="form-control" placeholder="Add new Keyword Search Term" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="add-rule">Save</button><br/>
              </div></form>
              
              <div class="delete">
                <form action="/app/admin_dashboard/delete/" method="POST">
                  <input type="text" name="delete-rule" class="form-control" placeholder="Delete Keyword" aria-label="Recipient's username" aria-describedby="button-addon2">
                  <button class="btn btn-outline-secondary" type="submit">Delete Keyword</button>
                </form>
             </div>
            </div>

      </main>
    </div>
  </div>

  <!--Scripts-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script type="text/javascript">
    var data_ = {{counts|tojson}};
    var timeseries = {{counts_seq|tojson}};
  </script>
  <script type="text/javascript" src="/static/script.js"></script>

</body>
</html>
